<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}

<body style="font-family: 'NanumSquareR'">

{# alt + shift + drag - 다중 커서 #}
{# ctrl + tab - 창 이동 #}
{# alt + drag - 원하는 부분만 커서 #}

{% include 'header.html' %}

<htr>

{% for message in messages %}
    <div class="text-center">
        <div class="btn btn-{{ message.tags }} rounded-pill px-5">
            {{ message }}
        </div>
    </div>
{% endfor %}


{% block content %}
{% endblock %}

</htr>

{% include 'footer.html' %}

</body>
</html>